.tile {
    display: inline-flex;
    background-color: #FFB067;
}

.sand {
    background-color: #FFB067;
}

.rock {
    background-image: url('/tiles/rock.png');
}

.tree {
    background-image: url('/tiles/tree.png');
}